body{
    background-color: #808080;
}
h1{
    
    color: white;

/* margin means space OUTSIDE the border, padding means space INSIDE the border */

/* margin: 20px;  → sets 20px on ALL 4 sides */
margin: 20px;

/* margin: 10px 20px; → 10px top & bottom, 20px left & right */
margin: 10px 20px;

/* margin: 10px 20px 30px;
   → 10px top
   → 20px left & right
   → 30px bottom
*/
margin: 10px 20px 30px;

/* margin: 10px 20px 10px 10px;
   → top | right | bottom | left (clockwise)
*/
margin: 10px 20px 10px 10px;
}
p{
    color: black;
    padding: 10px;
    border: 2px solid white;
}