/* External CSS File */

/* Styling heading */
h1 {
    text-align: center;
    color: blue;
}

/* External CSS Box */
.external-box {
    background-color: lightblue;
    padding: 15px;
    border: 2px solid blue;
    margin-top: 10px;
}